{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Главная</a> <span class="divider">/</span></li>
    <li class="active">Корзина</li>
{% endblock %}

{% block content %}
    <div class='row'><!-- средняя часть страницы-->
        <div class='row-fluid'>
            <div class='span12'> <!--левая панель-->
                {% if items %}
                    <h2>Корзина</h2>
                    <table style='width: 100%'>
                        <tr>
                            <td>Фото</td>
                            <td>Название</td>
                            <td>Количество</td>
                            <td>Цена</td>
                            <td>Удалить</td>
                        </tr>
                        
                        {% for i in items %}
                        
                        <tr>
                            <td><img {% if i.item.image %} src="/media/{{ i.item.image.all.0.image }}" style='max-height: 100px;' {% endif %} alt='{{ i.item.name }}' ></td>
                            <td><a href='/items/{{ i.item.id }}'>{{ i.item.name }}</a></td>
                            <td>
                                
                                <form method='POST'>
                                    <button type="submit" class='btn btn-success btn-small' value="minus" name="action" ><i class="icon-minus icon-white"></i></button>
                                    <b>{{ i.count }}</b>
                                    <button type="submit" class='btn btn-success btn-small' value="plus" name="action" ><i class="icon-plus icon-white"></i></button>
                                    <input type="hidden" name='item_id' value="{{ i.item.id }}" />
                                    {% csrf_token %}
                                </form>    
                            </td>
                            <td><b>{{ i.item.price }} руб.</b></td>
                            <td>
                                        <form method='POST'>
                                            <button type="submit" class='btn btn-warning btn-small' value="" name="from_basket" ><i class="icon-remove icon-white"></i></button>
                                            <input type="hidden" name='action' value="del_from_basket" />
                                            <input type="hidden" name='item_id' value="{{ i.item.id }}" />
                                            {% csrf_token %}
                                        </form>               
                            </td>
                        </tr>
                        
                        {% endfor %}
                        
                    </table><!--."catalog-->
                        <div style='float: right; clear: both;'>
                            <h3>{{ cart_sum }} руб.</h3>
                            <br />
                        </div>
                    {% else %}
                        <h2>Ваша корзина пуста.</h2>
                    {% endif %}
            </div>
        </div>
        <div class='row-fluid'>
            {% if items and user.is_authenticated %}
                <form method='POST'>
                    
                    
                    <div class='span6'> <!--левая панель-->
                        <div class="check-box">
                            <p>Выбор типа оплаты</p>
                                <div class="round cash">
                                    <label for="radio">
                                        <img src="/static/images/cash-box.jpg"><h6>Оплата за наличные</h6>
                                    </label>
                                    <input type="radio" id="radio" name="payment" value='1' checked=checked>
                                </div>
                                <div class="round out"> 
                                    <label for="robot"><img src="/static/images/robot.jpg"><h6>Безналичный расчет</h6></label>
                                    <input type="radio" id="robot" name="payment" value='2' disabled=disabled />
                                </div>
                        </div>
                        
                    </div>

                    <div class='span6'><!-- правая панель-->
                    
                        <p>Выбор варианта доставки</p>
                        <p><input type="radio" name="deliver" value='1'>Самовывоз со склада</p>
                        <p><input type="radio" name="deliver" value='2'>Доставка курьером по Москве</p>
                        <p><input type="radio" name="deliver" value='3'>Почтой</p>
                        <br />
                        <div id="comments">
                            <p>Комментарии к заказу:
                            <textarea name='comment'></textarea></p>
                        </div>
                        <input type="submit" class='btn btn-primary' value="Оформить заказ" />
                    </div>
                    <input type="hidden" name='action' value="to_order" />
                    {% csrf_token %}
                </form> 
                
            {% endif %}
            
            {% if not user.is_authenticated %}
                <div class='span12'><h4>Для оформления заказа Вам необходимо <a href='/accounts/register/'>зарегистрироваться</a>.</h4></div>
            {% endif %}
        </div>
    </div>
{% endblock %}