{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
   <a href="" class="no">Моя корзина</a>
{% endblock %}

{% block content %}
    {% if items %}
        <table width="100%" class="check">
            <tr class="heds">
                <td >Фото</td>
                <td width='40%'>Описание</td>
                <td>Кол-во</td>
                <td >Цена</td>
                <td >Сумма</td>
                <td ></td>
            </tr>
            
            {% for i in items %}
                <tr>
                    <td><img src="/media/{{ i.item.image.all.0.image }}/" /></td>
                    <td>
                        <p><strong>{{ i.item.name }}</strong></p>
                        <p>Артикул: {{ i.item.art }}</p>
                        <p>Цвет: {{ i.item.color }}</p>
                        <p>Размер: {{ i.size }}</p>
                    </td>
                    <td>
                        <div class="number">

                            <div class="tnum1w">
                                <div class="tnum1w1">
                                    <form method='POST'>
                                        <button type="submit" value="minus" name="action"  class="minus"><span>-</span></button>
                                        <input type="text" value="{{ i.count }}" size="2" class="tnum1" name='set_count' />
                                        <button type="submit" value="plus" name="action" class="plus" ><span>+</span></button>
                                        <input type="hidden" name='item_id' value="{{ i.item.id }}" />
                                        <input type="hidden" name='size' value="{{ i.size }}" />
                                        {% csrf_token %}
                                    </form>                
                                </div> <!--tnum1w1-->
                            </div> <!--tnum1w-->
                        </div> <!--number-->

                    </td>
                    <td><div class="price nobright"> {{ i.item.price|floatformat:"0" }}</div></td>
                    <td><div class="price"> {{ i.sum|floatformat:"0" }}</div></td>
                    <td>
                        <form method='POST'>
                            <button type="submit" name='action' value="del_from_basket" class='minus' />
                                <div class="trash"></div>
                            </button>
                            <input type="hidden" name='item_id' value="{{ i.item.id }}" />
                            <input type="hidden" name='size' value="{{ i.size }}" />
                            {% csrf_token %}
                        </form>
                    </td>
                        
                    
                </tr>
            {% endfor %}
        </table>
        
        <div class="sorting">
            <div class="sortnumleft">
                <span>Показывать по:</span> 
                <select name="d" class="selectyze2">
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                </select>
            </div> <!--sortnum-->
            
            <div class="sortpage">
                <div class="inpgw">
                    <a href=""><img src="/static/images/pl.png" alt="" /></a>
                    <a href="">1</a>   
                    <a href="" class="active">2</a>   
                    <a href="">3</a>   
                    <a href=""><img src="/static/images/pr.png" alt="" /></a>
                </div> <!--pgw-->
            </div> <!--sortpage-->
        </div> <!--sorting-->

        <div class="proceed">

            <div class="p1">
                <input type="submit" class="checkout" value="распечатать">
            </div> <!--p1-->

            <div class="p2">

                <p>Сумма заказа: <span> {{ cart_sum|floatformat:"0" }} руб.</span></p>
                <a href="reg1.html" class="checkout1">оформить</a>

            </div> <!--p2-->

        </div> <!--proceed-->
    {% else %}
        <h2>Ваша корзина пуста.</h2>
    {% endif %}

{% endblock %}
