{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block extended_head %}
    <link rel="stylesheet" href="/static/css/Selectyze.jquery.css" type="text/css" />
    <script type="text/javascript" src="/static/js/Selectyze.jquery.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function(){
                    $('.selectyze1').Selectyze({
                            theme : 'skype'
                        });
            
                    $('.selectyze2').Selectyze({
                            theme : 'mac',
                 
                            effectOpen:'slide',
                            effectClose:'fade'
                        });
            
                    $('.selectyze3').Selectyze({
                            theme : 'grey'
                        }); 
            
                    $('.selectyze4').Selectyze({
                            theme : 'firefox'
                        });
            
                    $('.selectyze5').Selectyze({
                            theme : 'css3'
                        });

                });
        </script>
    
{% endblock %}

{% block slider %}
    <div id="simplediv" style="background-color:yellow;border:1px solid black;display:none;width:200px;height:200px;">Click anywhere in the document to auto-close me</div>
{% endblock %}

{% block breadcrumb %}
    {% for p in category.breadcrumb %}
        <a href="/category/{{ p.slug }}">{{ p.name }}</a>
    {% endfor %}
    <a href="" class="no">{{ category.name }}</a>
{% endblock %}

{% block content %}
    
    {% include 'sorting.html' %}
    
    <div class="catalog">
        {% if items %}
            {% for i in items.all %}
                {% include 'item_short.html' with i=i %}
            {% endfor %}
        {% else %}
            <p>В этой категории нет товаров.</p>
        {% endif %}
    </div> <!--catalog-->

    {% include 'sorting.html' %}

{% endblock %}

{% block left_filter %}
    <div class="sidesort">

        <div class="sidesortw">

            <div class="cost">Цена:</div> <!--cost-->
            <div class="range">

                <span>с</span>  
                <input type="text" class="tinput"> 
                <span>по</span> 
                <input type="text" class="tinput"> 
            </div> <!--range-->


            <div class="sideline"></div> <!--sidline-->

            <input id="Checkbox11" class="css-checkbox" type="checkbox" />
            <label for="Checkbox11" name="lbl_Checkbox11" class="css-label"><span>Весна-лето</span></label>        


            <br>

            <input id="Checkbox22" class="css-checkbox" type="checkbox" />
            <label for="Checkbox22" name="lbl_Checkbox22" class="css-label"><span>Осень-зима</span></label>        


            <div class="sideline"></div> <!--sidline-->

            <input id="Checkbox33" class="css-checkbox" type="checkbox" />
            <label for="Checkbox33" name="lbl_Checkbox33" class="css-label"><span>Новинки</span></label>        

            <br>

            <input id="Checkbox44" class="css-checkbox" type="checkbox" />
            <label for="Checkbox44" name="lbl_Checkbox44" class="css-label"><span>Акции</span></label>        

            <br>

            <input id="Checkbox55" class="css-checkbox" type="checkbox" />
            <label for="Checkbox55" name="lbl_Checkbox55" class="css-label"><span>Товары по акции</span></label>        

            <div class="sideline"></div> <!--sidline-->

            <select name="style2" class="selectyze2" >
                <option selected="selected">Цвет изделия</option>
                <option>Синий</option>
                <option>Желтый</option>
                <option>Красный</option>
            </select>


            <select name="style3" class="selectyze2">
                <option selected="selected">Материал изделия</option>
                <option>Синий</option>
                <option>Желтый</option>
                <option>Красный</option>
            </select>



            <select name="style4" class="selectyze2" >
                <option selected="selected">Марка изделия</option>
                <option>Синий</option>
                <option>Желтый</option>
                <option>Красный</option>
            </select>


            <select name="style4" class="selectyze2" >
                <option selected="selected">Марка товара</option>
                <option>Синий</option>
                <option>Желтый</option>
                <option>Красный</option>
            </select>

        </div> <!--sidesortw-->

    </div> <!--sidesort-->
{% endblock %}