{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block extended_head %}

{% endblock %}

{% block slider %}
    <div id="simplediv" style="background-color:yellow;border:1px solid black;display:none;width:200px;height:200px;">Click anywhere in the document to auto-close me</div>
{% endblock %}

{% block breadcrumb %}
    {% for p in category.breadcrumb %}
        <a href="/category/{{ p.slug }}">{{ p.name }}</a>
    {% endfor %}
    <a href="" class="no">{{ category.name }}</a>
{% endblock %}

{% block content %}

    <div class="sorting">
        <div class="sortlist">
            <span>Сортировать по:</span> 
            <a href="" class="light">новинкам</a> 
            <a href="" class="dark">названию</a>
            <a href="" class="light">цене</a>
        </div> <!--sortlist-->

        <div class="sortnum">
            <span>Показывать по:</span> 
            <select name="d" class="styleds">
                <option value="1">10</option>
                <option value="2">30</option>
                <option value="3">50</option>
            </select>
        </div> <!--sortnum-->

        <div class="sortpage">
            <div class="inpgw">
                <a href=""><img src="/static/images/pl.png" alt="" /></a>
                <a href="">1</a>   
                <a href="" class="active">2</a>   
                <a href="">3</a>   
                <a href=""><img src="/static/images/pr.png" alt="" /></a>
            </div> <!--pgw-->
        </div> <!--sortpage-->
    </div> <!--sorting-->


    <div class="catalog">
        {% if category.items %}
            {% for i in category.items.all %}
                <div class="block">
                    <div class="tovarup">
                        <span>Выбор размера</span>
                        {% for s in i.sizes.all %}
                            <input id="Checkbox_{{ s.name }}" class="css-checkbox" type="checkbox" />
                            <label for="Checkbox_{{ s.name }}" name="lbl_Checkbox_{{ s.name }}" class="css-label"><span>{{ s.name }}</span></label>                                      
                            <br />
                        {% endfor %}
                        <div class="zakaz1"><a href="">Подтвердить</a></div>
                        <a href="" class="tovarup-close">Закрыть</a>
                    </div> <!--tovarup-->
                    <a href=""><img src="/media/{{ i.image.all.0.image }}" alt="" /></a>
                    <div class="dsc">
                        <a href="/item/{{ i.id }}" >{{ i.name }}</a>    
                    </div> <!--dsc-->   
                    <span>{% if i.price_new %} {{ i.price_new|floatformat:"0" }} {% else %} {{ i.price|floatformat:"0" }} {% endif %}р.</span>
                    <div class="clear"></div>
                    <div class="zakaz"><a href="">заказать</a></div>
                </div> <!--block-->
            {% endfor %}
        {% else %}
            <p>В этой категории нет товаров.</p>
        {% endif %}
        
     
    </div> <!--catalog-->

    
    <div class="sorting">
        <div class="sortlist">
            <span>Сортировать по:</span> 
            <a href="" class="light">новинкам</a> 
            <a href="" class="dark">названию</a>
            <a href="" class="light">цене</a>
        </div> <!--sortlist-->

        <div class="sortnum">
            <span>Сортировать по:</span> 
            <select name="style33"  >
                <option value="1">10</option>
                <option value="2">30</option>
                <option value="3">50</option>
            </select>
        </div> <!--sortnum-->

        <div class="sortpage">
            <div class="inpgw">
                <a href=""><img src="/static/images/pl.png" alt="" /></a>
                <a href="">1</a>   
                <a href="" class="active">2</a>   
                <a href="">3</a>   
                <a href=""><img src="/static/images/pr.png" alt="" /></a>
            </div> <!--pgw-->
        </div> <!--sortpage-->
    </div> <!--sorting-->
        
        
        

{% endblock %}