{% extends 'base.html' %}

{% block slider %}
    <div class="sliderw">
        <div class="slider">

            <div class="mask"></div>
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    <a href=""><img src="/static/images/4.jpg" data-thumb="/static/images/4.jpg" alt=""/></a>
                    <a href=""><img src="/static/images/2.jpg" data-thumb="/static/images/2.jpg" alt="" /></a>
                    <a href=""> <img src="/static/images/3.jpg" data-thumb="/static/images/3.jpg" alt="" /></a>
                    <a href=""><img src="/static/images/4.jpg" data-thumb="/static/images/4.jpg" alt="" /></a>
                </div> <!--nivoSlider-->

            </div>   <!--slider-wrapper theme-default-->
    
        </div> <!--slider-->   
    </div> <!--sliderw-->
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
{% endblock %}