 <div class="block">
    <div class="tovarup">
        <span>Выбор размера</span>
        {% for s in i.sizes.all %}
            <input id="Checkbox_{{ s.name }}" class="css-checkbox" type="checkbox" />
            <label for="Checkbox_{{ s.name }}" name="lbl_Checkbox_{{ s.name }}" class="css-label"><span>{{ s.name }}</span></label>                                      
            <br />
        {% endfor %}
        <div class="zakaz1"><a href="">Подтвердить</a></div>
        <a href="" class="tovarup-close">Закрыть</a>
    </div> <!--tovarup-->
    <a href="/item/{{ i.slug }}/"><img src="/media/{{ i.image.all.0.image }}" alt="" /></a>
    <div class="dsc">
        <a href="/item/{{ i.slug }}/" >{{ i.name }}</a>    
    </div> <!--dsc-->   
    <span>{{ i.price|floatformat:"0" }} р.</span>
    <div class="clear"></div>
    <div class="zakaz"><a href="">заказать</a></div>
</div> <!--block-->