{% extends 'base.html' %}

{% block title %}Новости{% endblock %}

{% load thumbnail %}

{% block breadcrumb %}
    <a href="" class="no">Новости</a>
{% endblock %}

{% block content %}
    <div class="sep"></div> <!--sep-->

    <div class="news">
        {% for n in news %}
            <a href="/news/{{ n.slug }}/">
                <div class="nb">
                    {% thumbnail n.image "300" as im %}
                        <img src="{{ im.url }}/" />
                    {% endthumbnail %}
                    
                    <h2>{{ n.name }}</h2>
                    <p>{{ n.text|removetags:"div p"|slice:":200" }}...</p>
                </div> <!--nb-->
            </a>
        {% endfor %}

    </div> <!--news-->

    <div class="pgw">
        <a href=""><img src="/static/images/pl.png" alt="" /></a>
        <a href="">1</a>   
        <a href="" class="active">2</a>   
        <a href="">3</a>   
        <a href="">4</a> 
        <a href=""> 5</a>  
        <a href=""><img src="/static/images/pr.png" alt="" /></a>
    </div>
    
{% endblock %}