{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
   <a href="" class="no">Оформление заказа. Шаг 1.</a>
{% endblock %}

{% block all_wrapper %}
    <div class="maskwrap">
    
        <div class="breadcrumbs fixedbc">
            <a href="/" class="empty">Главная</a> 
            <a href="" class="no">Оформление заказа</a>
        </div>


        <div class="steps">

            <div class="step none1">
                <h2>Шаг 1</h2>
                <span >Авторизация</span>
            </div>  <!--step-->
            <div class=" nofill1"></div>


            <div class="step ">
                <h2>Шаг 2</h2>
                <span class="wh1">Оформление заказа</span>
            </div>  <!--step-->
            <div class=" filltri"></div>

            <div class="step none">
                <h2>Шаг 3</h2>
                <span>Адрес доставки</span>
            </div>  <!--step-->
            <div class=" nofill"></div>

            <div class="step none">
                <h2>Шаг 4</h2>
                <span>Способ оплаты</span>
            </div>  <!--step-->
            <div class=" nofill"></div>

            <div class="step none">
                <h2>Шаг 5</h2>
                <span>Подтверждение заказа</span>
            </div>  <!--step-->
            <div class="nofilllast"></div>



        </div> <!--steps-->


        <div class="colmask fullpage">
            <div class="col1">
                <!-- Column 1 start -->
                <h2>Оформление заказа</h2>

                <p>
    
                    Заказы доставляются только по России. Средний срок доставки — 10 дней. В течение данного срока на указанный вами при оформлении заказа адрес придет уведомление о доставке. Вы можете получить заказ в ближайшем почтовом отделении, предъявив это уведомление. Компания не гарантирует доставку в указанные сроки - сроки установлены Почтой России. 
                </p>

                <p><strong>Заполните, пожалуйста, следующую форму. Поля отмеченные * - обязательны к заполнению.</strong></p>

                <div class="forms info stretch">
                    <form method='POST' >
                        <label>ФИО*</label>
                        {{ form.fio }}
                        {% if form.fio.errors %}
                            <div class="fail">{{ form.fio.errors.0 }}</div>
                        {% endif %}
                        <label>Город</label>
                        {{ form.city }}
                        {% if form.city.errors %}
                            <div class="fail">{{ form.city.errors.0 }}</div>
                        {% endif %}
                        <label>Индекс*</label>
                        {{ form.index }}
                        {% if form.index.errors %}
                            <div class="fail">{{ form.index.errors.0 }}</div>
                        {% endif %}
                        <label>Контактный телефон с кодом города*</label>
                        {{ form.phone }}
                        {% if form.phone.errors %}
                            <div class="fail">{{ form.phone.errors.0 }}</div>
                        {% endif %}
                        <label>E-mail*</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="fail">{{ form.email.errors.0 }}</div>
                        {% endif %}

                        <div class="clear"></div>

                        <button href="/order/1/" class="checkout11">Назад</button>
                        <button type='submit' class="checkout11">Шаг 3</button>
                        {% csrf_token %}
                    </form>
                </div> <!--forms-->

            </div>  <!--col1-->



        </div><!-- colmask doublepage-->


    </div> <!--maskwrap-->
{% endblock %}
