{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
   <a href="" class="no">Оформление заказа. Шаг 1.</a>
{% endblock %}

{% block all_wrapper %}
    <div class="maskwrap">
    
        <div class="breadcrumbs fixedbc">
            <a href="" class="empty">Главная</a> 
            <a href="reg1.html" class="no">Регистрация</a>
        </div>


        <div class="steps">

            <div class="step">
                <h2>Шаг 1</h2>
                <span class="wh">Авторизация</span>
            </div>  <!--step-->
            <div class="filltri"></div>

            <div class="step none">
                <h2>Шаг 2</h2>
                <span>Оформление заказа</span>
            </div>  <!--step-->
            <div class=" nofill"></div>

            <div class="step none">
                <h2>Шаг 3</h2>
                <span>Адрес доставки</span>
            </div>  <!--step-->
            <div class=" nofill"></div>

            <div class="step none">
                <h2>Шаг 4</h2>
                <span>Способ оплаты</span>
            </div>  <!--step-->
            <div class=" nofill"></div>

            <div class="step none">
                <h2>Шаг 5</h2>
                <span>Подтверждение заказа</span>
            </div>  <!--step-->
            <div class="nofilllast"></div>



        </div> <!--steps-->


        <div class="colmask doublepage1">
            <div class="colleft">
                <div class="col1">


                    <div class="forms white">

                        <p>Форма авторизации</p>

                        <label>E-mail*</label>
                        <input type="text" name="T1" class="tinput2 cleft"> 

                        <label>Пароль*</label>
                        <input type="text" name="T1" class="tinput2 cleft"> 
                        <div class="clear"></div>
                        <a href="" class="memory">Забыли пароль?</a>

                        <div class="clear"></div>

                        <input type="button" class="send cl" value="Войти">
                        <span>*Обязательные для заполнения поля</span>

                    </div> <!--forms-->

                </div>  <!--col1-->


                <div class="col2">



                    <div class="forms white">
                        <p>Форма регистрации</p>

                        <label>Фамилия*</label>
                        <input type="text" name="T1" class="tinput2 cright">    


                        <label>Имя*</label>
                        <input type="text" name="T1" class="tinput2 cright">    

                        <label>Отчество*</label>
                        <input type="text" name="T1" class="tinput2 cright">    

                        <label>E-mail*</label>
                        <input type="text" name="T1" class="tinput2 cright">    

                        <div class="fail">я</div>

                        <label>Пароль*</label>
                        <input type="text" name="T1" class="tinput2 cright">    

                        <label>Повторите пароль*</label>
                        <input type="text" name="T1" class="tinput2 cright">    

                        <div class="clear"></div>

                        <input type="button" class="send cl" value="Отправить">
                        <span>*Обязательные для заполнения поля</span>



                        <div class="clear"></div>

                        <a href="reg1.html"><input type="button" class="send cl" value="Далее"></a>

                    </div> <!--forms-->
    
                </div> <!-- Column 2 end -->

            </div> <!--colleft-->
        </div><!-- colmask doublepage-->


    </div> <!--maskwrap-->

{% endblock %}
