{% extends 'base.html' %}

{% block title %}Оформление заказа. Шаг 2.{% endblock %}

{% block breadcrumb %}
   <a href="" class="no">Оформление заказа. Шаг 2.</a>
{% endblock %}

{% block all_wrapper %}
    <div class="maskwrap">
    
        <div class="breadcrumbs fixedbc">
            <a href="/" class="empty">Главная</a> 
            <a href="" class="no">Оформление заказа</a>
        </div>


        <div class="steps">

            <div class="step none1">
                <h2>Шаг 1</h2>
                <span >Авторизация</span>
            </div>  <!--step-->
            <div class=" nofill1"></div>


            <div class="step ">
                <h2>Шаг 2</h2>
                <span class="wh1">Оформление заказа</span>
            </div>  <!--step-->
            <div class=" filltri"></div>

            <div class="step none">
                <h2>Шаг 3</h2>
                <span>Адрес доставки</span>
            </div>  <!--step-->
            <div class=" nofill"></div>

            <div class="step none">
                <h2>Шаг 4</h2>
                <span>Способ доставки</span>
            </div>  <!--step-->
            <div class=" nofill"></div>

            <div class="step none">
                <h2>Шаг 5</h2>
                <span>Подтверждение заказа</span>
            </div>  <!--step-->
            <div class="nofilllast"></div>



        </div> <!--steps-->


        <div class="colmask fullpage">
            <div class="col1">
                <!-- Column 1 start -->
                <h2>Оформление заказа</h2>

                <table width="100%" class="check">
                    <tr class="heds">
                        <td width='20%'>Фото</td>
                        <td width='50%'>Описание</td>
                        <td width='20%'>Кол-во</td>
                        <td width='10%'>Цена</td>
                        <td width='20%'>Сумма</td>
                    </tr>

                    {% for i in items %}
                        <tr>
                            <td><img src="/media/{{ i.item.image.all.0.image }}/" /></td>
                            <td>
                                <p><strong>{{ i.item.name }}</strong></p>
                                <p>Артикул: {{ i.item.art }}</p>
                                <p>Цвет: {{ i.item.color }}</p>
                                <p>Размер: {{ i.size }}</p>
                            </td>
                            <td><div class="price nobright">{{ i.count }}</td>
                            <td><div class="price nobright"> {{ i.item.price|floatformat:"0" }}</div></td>
                            <td><div class="price"> {{ i.sum|floatformat:"0" }}</div></td>         
                        </tr>
                    {% endfor %}
                </table>
                
                <a href="/cart/" class="checkout11">Назад</a>
                <a href="/order/3/" class="checkout11">Шаг 3</a>

            </div>  <!--col1-->



        </div><!-- colmask doublepage-->


    </div> <!--maskwrap-->
{% endblock %}
