{% extends 'base.html' %}

{% block title %}Обратная связь{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Главная</a> <span class="divider">/</span></li>
    <li class="active">Обратная связь</li>
{% endblock %}

{% block content %}
    <div>
        <h2>Обратная связь</h2>
        <form method='post'>
            <table>
                {{ request_form.as_table }}
                <tr><td></td><td><input type="submit" class='btn btn-primary' value="Отправить" /></td></tr>
            </table>
            {% csrf_token %}
            
        </form>
    </div>
{% endblock %}